---
import Layout from '../layouts/Layout.astro';
import AudioProcessor from '../components/AudioProcessor';
---

<Layout title="Audio EQ Processor">
  <main>
    <AudioProcessor client:load />
  </main>
</Layout>